     "<%= @employee%>" 
			[shape = box,
			 style = filled,
			 color = "<%= @employee.department.color %>",
			 label= <
				<TABLE ALIGN="LEFT" WIDTH="100%" CELLSPACING="0" BORDER="0">
					<%= label_for(@employee) %>
				</TABLE>
				>
			];
