<TR>
	<TD ALIGN="TEXT" BGCOLOR="<%= employee.department.color %>"><%= CGI.escapeHTML(employee.to_s) %></TD>
</TR>
<TR>
  <TD ALIGN="TEXT" WIDTH="180" BGCOLOR="<%= employee.department.color %>">
    <FONT POINT-SIZE="9"><%= CGI.escapeHTML(employee.title)%></FONT>
  </TD>
</TR>
